*
{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    height: max-content;
    width: max-content;
}

#main-container
{
    border: 2px solid red;
    position: relative;
    height:500px;
    width:500px ;
    top: 70px;
    left: 460px;
    background-color: aqua;
}

#box1
{
    border: 3px solid blue;
    position: absolute;
    height:300px ;
    width: 300px;
    left: 95px;
    top: 95px;
    background-color: bisque;
}
&:hover
{
    background-color: black;
}